
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 14px); /* Adjust the width to prevent overflow */
  background-color: #333;
  padding: 10px 10px;
  z-index: 1000;
}

.name {
  flex: 1;
}

.nav-head {
  padding: 5px;
  color: white;
  margin: 0;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.nav-item:hover {
  color: gray;
}

.nav-front-new {
  color: azure;
  padding: 6px;
  background-color: orange;
  height: 30px;
  width: 80px;
  border: none;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-front-new > a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    margin-right: 50px; /* Add right margin of 50px */
  }

  .nav-item {
    padding: 5px 0;
  }

  .nav-front-new {
    margin-left: -11px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .nav-head {
    margin-bottom: 10px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0; /* Reset right margin for smaller screens */
  }

  .nav-item {
    padding: 5px 0;
  }

  .nav-front-new {
    width: 100%;
    margin-top: 10px;
    margin-left: 2px;
  }

  .menu > button {
    width: 100%;
    margin-top: 10px;
  }

  .nav-front-new > a {
    font-size: small;
  }
}
