* {
    margin: 0;
    padding: 0;
  }
  
  .menu {
    display: flex; 
}
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding:7px;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-head{
    padding: 5px;
    color: white;
  } 
  .nav-item:hover {
    color: gray;
  }
  .nav-front-new{
    color: azure;
    padding: 4px;
    background-color: orange;
    height: 30px;
    width:80px;
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    margin-top: 6px;
    
 }
 .nav-front-new>a{
    text-decoration: none;
 }
 

