* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll bar */
}

.about-body {
    background-image: url("https://wallpapercave.com/wp/wp3404294.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px; /* Ensure padding is applied inside the container */
    box-sizing: border-box;
   
}

.About-head {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-title {
    color: sandybrown;
    margin-bottom: 10px;
}

.about-text {
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 14px;
}

.About-but {
    color: azure;
    padding: 7px 17px;
    background-color: orange;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.About-but:hover {
    color: #ddd;
    background-color: darkorange;
}

@media (max-width: 768px) {
    .about-body {
        padding: 10px;
    }

    .About-head {
        padding: 10px;
    }

    .about-text {
        font-size: 12px;
    }

    .About-but {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .about-body {
        padding: 10px;
    }

    .About-head {
        padding: 5px;
    }

    .about-text {
        font-size: 12px;
    }

    .About-but {
        padding: 6px 12px;
    }
}
