.index-body {
    color: white;
    background-image: url("C:\\Users\\gokul\\OneDrive\\Desktop\\portfilio.jpg"); /* Ensure the image is in the public directory */
    background-repeat: no-repeat;
    background-size: 550px 650px; /* Ensures the image covers the entire background */
    background-position: start; /* Centers the image */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end; /* Aligns .index-front to the right end */
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
}

.index-front {
    font-size: 1.5rem;
    max-width: 800px; /* Increase the max width for a more rectangular shape */
    padding: 20px;
    background-color: rgba(62, 67, 68, 0.31);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 50px; /* Adds some margin to the right for better spacing */
    margin-top: 60px;
}

.index-front > button {
    color: azure;
    padding: 1px 12px; /* Adjust button padding */
    background-color: orange;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 8px;
}

.index-front > button:hover {
    color: #ddd;
    background-color: darkorange;
}

@media (max-width: 1000px) {
    .index-body {
        background-image: url("C:\\Users\\gokul\\OneDrive\\Desktop\\portfilio.jpg");
        background-size: 550px 650px;
    }  
    .index-front {
        font-size: 1rem;       
    }
}

@media (max-width: 958px) {
    .index-body {
        justify-content: center; 
        background-image: none; /* Center the content on smaller screens */
    }

    .index-front {
        padding: 20px;
        font-size: 1.2rem;
        max-width: 600px; /* Reduce max width for smaller screens */
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-top: 150px;
    }

    .index-front > button {
        padding: 2px 10px; /* Adjust button padding for smaller screens */
        padding-top: 8px;
    }
}

@media (max-width: 480px) {
    .index-body {
        justify-content: center; /* Center the content on smaller screens */
    }

    .index-front {
        padding: 10px;
        font-size: 1rem;
        max-width: 100%; /* Full width on very small screens */
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-top: 170px;
    }

    .index-front > button {
        padding: 2px 8px; /* Smallest button size for very small screens */
        padding-top: 8px;
    }
}
