.index-front>button{
     color: azure;
     padding: 3px;
     background-color: orange;
     height: 30px;
     width:80px;
     margin-top: 15px;
     border-color: orange;
     border-width: 2px;
     border-style: solid;
 }
 .index-front>button:hover
 {
     color: #ddd;
     padding: 5px 10px; 
     font-size: 14px;
     height: 28px;
     width :78px;
 }

 .index-body{
     color: white;
     background-color: #1D232c;
     height: 90vh;
     width: 100wh;
     display: flex;
     padding-left: 150px;
     align-items: center;
 } 
.index-front{
    font-size: 1.5rem;
}

 
